<% if current_user[:id] == @user.id %>
	<h1>Editing User</h1>

	<%= render 'form' %>

	<%= link_to 'Back', dashboard_path(@user) %>
<% else %>
	<h1>Access Denied! <%= link_to "Back", :back %> </h1>
<% end %>

