<% if current_user[:id] == @user.id %>
	<p id="notice"><%= notice %></p>


		<h2>Hello <%= @user.full_name %> </h2>
	   	<table class="table">
			<tr>
				<th>Name</th>
				<th>Surname</th>
				<th>Email</th>
				<th>Location</th>
				<th>Registered</th>
				<th>Options</th>
			</tr>
			<tbody>
				<tr>
					<td><%= @user.name.nil? ? "" : @user.name %></td>
					<td><%= @user.surname.nil? ? "" : @user.surname %></td>
					<td><%= @user.email.nil? ? "" : @user.email %></td>
					<td><%= @user.location.nil? ? "" : @user.location %></td>
					<td><%= @user.created_at.nil? ? "" : @user.created_at %></td>
					<td><%= link_to "Edit", edit_dashboard_path(@user.id) %></td>
				</tr>
			</tbody>
		</table>
		<% yes = "yes" %>
		<p><%= link_to "Reset Password", edit_user_registration_path(:reset => yes) %></p>
		<p><%= link_to "Cancel Account", edit_user_registration_path(:cancel => yes) %></p>

		<h2>My trips</h2>

		<table class="table">
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>Description</th>
		      <th>Destination Count</th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @user.trips.each do |trip| %>
		      <tr>
		        <td><%= trip.name %></td>
		        <td><%= trip.description %></td>
				<td><%= link_to trip.count_dest, trip_destinations_path(trip.id) %></td>
		        <td><%= link_to 'Show', trip %></td>
			    <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
			    <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
<% else %>
	<h1>Access Denied! <%= link_to "Back", :back %> </h1>
<% end %>
