<%= form_for @comment, url: trip_comments_path(@trip) do |f| %>
  <%= f.hidden_field :author_id, value: current_user[:id] %>
  <div class="field">
    <%= f.label :post %><br>
    <%= f.text_area :post %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
