<h3>Posts</h3>
<ol class="commentlist">
	<% @trip.comments.each do |comment| %>
	<li>
		<div class="commenttext">
			<cite><%= link_to comment.author.full_name, user_path(comment.author_id) %></cite><br>
			<%= comment.post %><br><br>
			<span class="date"><%= comment.created_at %></span>
		</div>
		<% if @trip.user_id == @user.id %>
			<%= link_to 'Delete', trip_comment_path(@trip, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
	</li>
	<% end %>
</ol>
