<table class="table">
	<tr>
		<th>Destination</th>
		<th>Description</th>
		<th>Show</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	<% @trip.destinations.each do |destination|%>
	<tr>
		<td><%= destination.name %></td>
		<td><%= destination.description %></td>
		<td><%= link_to "Show", trip_destination_path(@trip, destination) %></td>
		<% if @trip.user_id == @user.id %>
			<td><%= link_to "Edit", edit_trip_destination_path(@trip, destination) %></td>
			<td><%= link_to "Delete", trip_destination_path(@trip, destination), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% else %>
			<td> - </td>
			<td> - </td>
		<% end %>
	</tr>
	<% end %>
	<tr>
		<tr>
			<% if @trip.user_id == @user.id %>
				<%= link_to "New Destination", new_trip_destination_path(@trip) %>
			<% end %>
		</tr>
	</tr>
</table>
