<%= link_to "Likes:", trip_likes_path(@trip.id) %>
<span style="color:green;">
	+<%= @trip.likes_count %>
</span>
<span style="color:red;">
	-<%= @trip.dislikes_count %>
</span>
<br>
<span>
	<%= link_to "Like", trip_likes_path(@trip, likes: {like: true, user_id: current_user[:id]}), method: :post%>
</span>
/
<span>
	<%= link_to "Dislike", trip_likes_path(@trip, likes: {like: false, user_id: current_user[:id]}), method: :post %>
</span>
