<div>
	<% if @like.nil? %>
		<%= render "likes.both" %>
	<% else %>
  	<% if(@like.like == true) %>
  		<%= render "likes.dislike" %>
  	<% else %>
  		<%= render "likes.like" %>
  	<% end %>
  <% end %>
</div>
