<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<%= hidden_field_tag :trip, params[:trip] %>

<h1>Listing trips</h1>

<table class="table">
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "description" %></th>
      <th>Destination Count</th>
      <th>User</th>
      <th><%= sortable "shown" %></th>
	  <th>Likes</th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.name %></td>
        <td><%= trip.description %></td>
		<td><%= link_to trip.count_dest, trip_destinations_path(trip.id) %></td>
		<td><%= link_to trip.user.full_name, user_path(trip.user_id) %></td>
		<td><%= trip.shown %></td>
		<td>
			<span style="color:green;">
				+<%= trip.likes_count %>
			</span>
			<span style="color:red;">
				-<%= trip.dislikes_count %>
			</span>
		</td>
        <td><%= link_to 'Show', trip %></td>
		<% if trip.user_id == @user.id %>
	        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
	        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% else %>
			<td> - </td>
			<td> - </td>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @trips %>
<br>
