<% if @trip.user_id == @user.id %>
	<h1>Editing trip</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @trip %> |
	<%= link_to 'Back', :back %>
<% else %>
	<h1>Access Denied! <%= link_to "Back", :back %> </h1>
<% end %>
