<%= form_tag (@trip), :method => 'get', :id => "trips_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="trips"><%= render 'trips' %></div>
<% end %>

<%= link_to 'New Trip', new_trip_path %>
