<p>
  <strong>Name:</strong>
  <%= @trip.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trip.description %>
</p>
<p>
  <%= render "likes" %>
</p>

<%= render "destinations" %>

<br><span>----------------------------------------</span><br>

<% if @trip.user_id == @user.id %>
	<%= link_to 'Edit', edit_trip_path(@trip) %> |
<% end %>
<%= link_to 'Back', :back%>

<br><span>----------------------------------------</span><br>

<%= render "comment" %>

<br><span>----------------------------------------</span><br>
<%= render "comment.posts" %>
