<h1><%= @trip.name %> likes and dislikes!</h1>

<ul>
	<% @trip.likes.each do |like| %>
			<li><%= link_to like.user.full_name, user_path(like.user_id) %>
			<% if(like.like) %>
				<span style="color:green">Like</span>
			<% else %>
				<span style="color:red">Dislike</span>
			<% end %>
		</li>
	<% end %>
</ul>

<%= link_to "Back", :back %>
