<% if(user_signed_in?) %>
	<h1>Welcome to trip loging, see created <%= link_to "Trips", trips_path %></h1>
<% else %>
	<h1>Please <%= link_to "Log in", user_session_path %> before continue!</h1>
<% end %>

