<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @user.surname %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>
<p>
	<strong>Trips</strong><br>
	<ul>
		<% @user.trips.each do |trip|%>
			<li><%= link_to trip.name, trip_path(trip.id) %></li>
		<% end %>
	<ul>
</p>

<%= link_to 'Back', :back %>
