<% if @trip.user_id == @user.id %>
	<h1>Editing destination</h1>

	<%= render 'form' %>

	<%= link_to 'Back', trip_path(@destination.trip_id)%>
<% else %>
	<h1>Access Denied! <%= link_to "Back", :back %> </h1>
<% end %>
