<h1>Listing all destinations from Trip</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Trip Name</th>
    </tr>
  </thead>

  <tbody>
    <% @trip.destinations.each do |destination| %>
      <tr>
        <td><%= destination.name %></td>
        <td><%= destination.description %></td>
		<td><%= destination.get_trip_name %></td>
        <td><%= link_to 'Show', trip_destination_path(destination.trip_id, destination.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', :back %>


