<% if @trip.user_id == @user.id %>
	<h1>New destination</h1>

	<%= render 'form' %>

	<%= link_to 'Back', trip_path(params[:trip_id]) %>
<% else %>
	<h1>Access Denied! <%= link_to "Back", :back %> </h1>
<% end %>
