<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @destination.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @destination.description %>
</p>
<br>
<% if @trip.user_id == @user.id %>
	<%= link_to 'Edit', edit_trip_destination_path(params[:trip_id], params[:id]) %> |
<% end %>
<%= link_to 'Back', :back %>
