ol.commentlist {
	margin:0;
	padding:0;
	padding-bottom: 50px;
	}

.commentlist li {
	margin-bottom:8px;
	color: black;
	list-style:none;
	width:413px;
	}

.commentlist .commenttext {
	padding:20px 20px 20px 20px;
	border: 1px solid black;
	}

.commentlist cite {
	display:block;
	color: black;
	font-weight:bold;
	font-style:normal;
	padding-bottom:5px;
	font-size:1.1em;
	}

.commentlist .date {
	padding:3px;
	float:right;
	position:relative;
	bottom:10px;
	}

li.alt .date {
	padding:3px;
	}
